.hero-section {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1505693416388-ac5ce068fe85");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.55);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.logo-symbol {
  position: relative;
  width: 170px;
  height: 100px;
  margin-bottom: 40px;
}

.left-shape {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 12px solid #1976ff;
  transform: rotate(45deg);
  left: 20px;
}

.right-shape {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 12px solid #ff2d2d;
  transform: rotate(45deg);
  right: 20px;
}

.hero-title {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 20px;
}

.red-text {
  color: #ff2d2d;
}

.blue-text {
  color: #1976ff;
}

.hero-subtitle {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.shop-btn {
  background: #ff2d2d;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.shop-btn:hover {
  background: #d91d1d;
}

.category-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.category-card:hover {
  transform: translateY(-8px);
}

.category-card-body {
  padding: 30px;
  text-align: center;
}

.category-card-body h4 {
  color: #222;
  margin-bottom: 10px;
}

.category-card-body span {
  color: #1976ff;
  font-weight: 600;
}